<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link href="~/login.css" rel="stylesheet" />
</head>
<body>

    <div id="bb-body">
        <div class="bb-login">
            <form action="">
                <div class="login-box">
                    <div class="top">
                        <h3> Đăng nhập</h3>
                    </div>                                    
                    <div class="bb-login">
                        <div class="form-groub">
                            <input class="form-control" placeholder="Email" type="text">
                        </div>
                        <div class="input-group pass-box">
                            <input class="form-control" type="text" placeholder="Mật khẩu">
                            <span class="forget"><a href=""><i class=""></i></a></span>
                        </div>
                        <input type="submit" class="edit" value="Đăng nhập">
                    </div>
                    <div class="bottom">
                        Chưa có tài khoản?
                        <a href="dangki.html"> Đăng kí tại đây</a>
                    </div>
                </div>

            </form>
        </div>

    </div>




</body>
</html>