@{
	Layout = "Header_Footer";
}



<!-- Start Hero Section -->
<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>Cửa Hàng</h1>
				</div>
			</div>
			<div class="col-lg-7">
			</div>
		</div>
	</div>
</div>
<!-- End Hero Section -->



<div class="untree_co-section product-section before-footer-section">
	<div class="container">
		<div class="row">

			<!-- Start Column 1 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5">
				<a class="product-item" href="#">
					<img src="images/all1.jpg" class="img-fluid product-thumbnail">
					<h3 class="product-title">Sĩ Số Lớp Vắng 0</h3>
					<strong class="product-price">61.200đ</strong>

					<span class="icon-cross">
						<img src="images/cross.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 1 -->
			<!-- Start Column 2 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5">
				<a class="product-item" href="#">
					<img src="images/all2.jpg" class="img-fluid product-thumbnail">
					<h3 class="product-title">Cây Cam Ngọt Của Tôi</h3>
					<strong class="product-price">75.600đ</strong>

					<span class="icon-cross">
						<img src="images/cross.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 2 -->
			<!-- Start Column 3 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5">
				<a class="product-item" href="#">
					<img src="images/all3.jpg" class="img-fluid product-thumbnail">
					<h3 class="product-title">Nhà Giả Kim</h3>
					<strong class="product-price">63.200đ</strong>

					<span class="icon-cross">
						<img src="images/cross.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 3 -->
			<!-- Start Column 4 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5">
				<a class="product-item" href="#">
					<img src="images/all4.jpg" class="img-fluid product-thumbnail">
					<h3 class="product-title">Đất Rừng Phương Nam</h3>
					<strong class="product-price">144.000 đ</strong>

					<span class="icon-cross">
						<img src="images/cross.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 4 -->
			<!-- Start Column 1 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5">
				<a class="product-item" href="#">
					<img src="images/all5.jpg" class="img-fluid product-thumbnail">
					<h3 class="product-title">Romeo Và Juliet</h3>
					<strong class="product-price">52.200đ</strong>

					<span class="icon-cross">
						<img src="images/cross.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 1 -->
			<!-- Start Column 2 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5">
				<a class="product-item" href="#">
					<img src="images/all6.jpg" class="img-fluid product-thumbnail">
					<h3 class="product-title">Ông Già Và Biển Cả</h3>
					<strong class="product-price">33.600đ</strong>

					<span class="icon-cross">
						<img src="images/cross.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 2 -->
			<!-- Start Column 3 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5">
				<a class="product-item" href="#">
					<img src="images/all7.jpg" class="img-fluid product-thumbnail">
					<h3 class="product-title">Chiếc Lá Cuối Cùng</h3>
					<strong class="product-price">80.750 đ</strong>

					<span class="icon-cross">
						<img src="images/cross.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 3 -->
			<!-- Start Column 4 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5">
				<a class="product-item" href="#">
					<img src="images/all8.jpg" class="img-fluid product-thumbnail">
					<h3 class="product-title">Thế Giới Xấu Xí, Với Anh, Em Vẫn Đẹp</h3>
					<strong class="product-price">78.200đ</strong>

					<span class="icon-cross">
						<img src="images/cross.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 4 -->

		</div>
	</div>
</div>


