@{
	Layout = "Header_Footer";
}

@* cart, ship, received *@
<div class="cart-container">
    <div class="wait">
        <h1>Giỏ hàng</h1>
        <div class="cproduct">
            <span class="cproduct_cart-id">Mã:</span>
            <span class="cproduct_img"></span>
            <span class="cproduct_name">Ten</span>
            <span class="cproduct_address">
                <span>from: </span>
                <span>to: </span>
            </span>
            <span class="cproduct_cost">Giá: </span>
            <a href="" class="cproduct_conf">xoá</a>
        </div>
    </div>

    <div class="delivered">
        <h1>Đang Giao</h1>
        <div class="cproduct">
            <span class="cproduct_cart-id">Mã:</span>
            <span class="cproduct_img"></span>
            <span class="cproduct_name">Ten</span>
            <span class="cproduct_address">
                <span>from: </span>
                <span>to: </span>
            </span>
            <span class="cproduct_cost">Giá: </span>
            <span class="cproduct_conf">Đã giao</span>
        </div>
    </div>

    <div class="cost">
        <h2>Tổng tiền: </h2>
        <a href="" class="cost_accept">Đã Nhân Hàng</a>
    </div>
</div>