@{
	Layout = "Header_Footer";
}

<!-- Start Hero Section -->
<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>The TCHUN Shop  <span clsas="d-block">Dẫn Đầu Xu Hướng</span></h1>
					<p class="mb-4">
						TCHUN là cửa hàng sách với nhiều thể loại sách đa dạng, phù hợp với đa số mọi người đa giới  tính, đa lứa tuổi
					</p>
					<p><a href="" class="btn btn-secondary me-2">Cửa Hàng</a><a href="#" class="btn btn-white-outline">Khám Phá</a></p>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="hero-img-wrap">
					 <img src="images/bia.jpg" class="img-fluid"> 
					@* <img src="d:\web\book_market\book_market\images\bia.jpg" class="img-fluid" /> *@
						@* <img src="~\images\bia.jpg" /> *@

				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Hero Section -->
<!-- Start Product Section -->
<div class="product-section">
	<div class="container">
		<div class="row">

			<!-- Start Column 1 -->
			<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
				<h2 class="mb-4 section-title">Cửa hàng sách TCHUN</h2>
				<p class="mb-4">Với triết lý “Đặt khách hàng làm trọng tâm”, TCHUN luôn không ngừng cập nhật những đầu sách mới phù hợp và cuốn hút nhiều, chiều lòng khách hàng hơn. </p>
				<p><a href="shop.html" class="btn">Khám Phá</a></p>
			</div>
			<!-- End Column 1 -->
			<!-- Start Column 2 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<a class="product-item" href="cart.html">
					<img src="images/book1.jpg" class="img-fluid product-thumbnail">
					<h3 class="product-title">ĐẤT RỪNG PHƯƠNG NAM</h3>
					<strong class="product-price">162,000₫</strong>

					<span class="icon-cross">
						<img src="images/cross.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 2 -->
			<!-- Start Column 3 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<a class="product-item" href="cart.html">
					<img src="images/book2.jpg" class="img-fluid product-thumbnail">
					<h3 class="product-title">GÁNH GÁNH... GỒNG GỒNG... </h3>
					<strong class="product-price">144,000₫</strong>

					<span class="icon-cross">
						<img src="images/cross.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 3 -->
			<!-- Start Column 4 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<a class="product-item" href="cart.html">
					<img src="images/book3.jpg" class="img-fluid product-thumbnail">
					<h3 class="product-title">BÍ QUYẾT HỘI HỌA - LUYỆN VẼ HÌNH KHỐI</h3>
					<strong class="product-price">79,200₫</strong>

					<span class="icon-cross">
						<img src="images/cross.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 4 -->

		</div>
	</div>
</div>
<!-- End Product Section -->
<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-6">
				<h2 class="section-title">Tại Sao Nên Chọn Chúng Tôi</h2>
				<p>TCHUN là cửa hàng sách có quy mô lớn nhất  Việt Nam và có những dịch vụ mà bạn không thể bỏ qua chúng tôi.</p>

				<div class="row my-5">
					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="images/truck.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Giao hàng hoả tốc và hoàn toàn miễn phí</h3>
							<p>Chúng tôi cung cấp dịch vụ giao hàng hỏa tốc trong ngày cùng với đó là dịch vụ giao hàng nhanh mà không mất phí vận chuyển.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="images/bag.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Mua hàng dễ dàng</h3>
							<p>Với cửa hàng phủ khắp Việt Nam và hệ thống bán hàng online chuyên nghiệp.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="images/support.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Hỗ trợ 24/7</h3>
							<p>Chúng tôi luôn có đội ngũ túc trực để phản hồi mọi yêu cầu của khách hàng 24/7.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="images/return.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Chính sách đổi - trả</h3>
							<p>Nếu sách đến tay quý khách bị móp méo và có vấn đề bạn có thể hoàn trả lại hoàn toàn miễn phí.</p>
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-5">
				<div class="img-wrap">
					<img src="images/book4.jpg" alt="Image" class="img-fluid">
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End Why Choose Us Section -->
<!-- Start We Help Section -->
<div class="we-help-section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-7 mb-5 mb-lg-0">
				<div class="imgs-grid">
					<div class="grid grid-1"><img src="images/book5.jpg" alt="Untree.co"></div>
					<div class="grid grid-2"><img src="images/book6.jpg" alt="Untree.co"></div>
					<div class="grid grid-3"><img src="images/book7.jpg" alt="Untree.co"></div>
				</div>
			</div>
			<div class="col-lg-5 ps-lg-5">
				<h2 class="section-title mb-4">Chúng tôi cung cấp những bộ cuốn truyện theo bộ</h2>
				<p>Những cuốn sách theo bộ giúp người đọc cảm thấy cuốn hút hơn và mỗi cuốn trong truyện mang một màu sắc riêng mà vẫn kết nối được với nhau.   </p>

				<ul class="list-unstyled custom-list my-4">
					<li>Dragon Girls</li>
					<li>Harry Potter</li>
					<li>Chạng Vạng</li>
					<li>Ngày Mai</li>
				</ul>
				<p><a herf="#" class="btn">Khám Phá</a></p>
			</div>
		</div>
	</div>
</div>
<!-- End We Help Section -->
<!-- Start Popular Product -->
<div class="popular-product">
	<div class="container">
		<div class="row">

			<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
				<div class="product-item-sm d-flex">
					<div class="thumbnail">
						<img src="images/book1.jpg" alt="Image" class="img-fluid">
					</div>
					<div class="pt-3">
						<h3>ĐẤT RỪNG PHƯƠNG NAM</h3>
						<p>"Đất Rừng Phương Nam" là một tác phẩm văn học đáng đọc và đánh giá cao về cả nội dung và giá trị văn học của nó. </p>
						<p><a href="#">Xem Thêm</a></p>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
				<div class="product-item-sm d-flex">
					<div class="thumbnail">
						<img src="images/book2.jpg" alt="Image" class="img-fluid">
					</div>
					<div class="pt-3">
						<h3>GÁNH GÁNH... GỒNG GỒNG...</h3>
						<p>"Gánh Gánh... Gồng Gồng" là một tác phẩm văn học quý báu trong văn học Việt Nam, nó là một cái gương phản ánh thực tế cuộc sống và tinh thần của người lao động Việt Nam vào thời điểm nó được sáng tác </p>
						<p><a href="#">Xem Thêm</a></p>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
				<div class="product-item-sm d-flex">
					<div class="thumbnail">
						<img src="images/book3.jpg" alt="Image" class="img-fluid">
					</div>
					<div class="pt-3">
						<h3>BÍ QUYẾT HỘI HỌA - LUYỆN VẼ HÌNH KHỐI</h3>
						<p> "BÍ QUYẾT HỘI HỌA - LUYỆN VẼ HÌNH KHỐI" cung cấp cho chúng ta cái nhìn cụ thể hơn về hội họa đặc biệt là vẽ hình khối</p>
						<p><a href="#">Xem Thêm</a></p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End Popular Product -->
<!-- Start Testimonial Slider -->
<div class="testimonial-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 mx-auto text-center">
				<h2 class="section-title">Những tác giả nổi tiếng</h2>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="testimonial-slider-wrap text-center">

					<div id="testimonial-nav">
						<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
						<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
					</div>

					<div class="testimonial-slider">

						<div class="item">
							<div class="row justify-content-center">
								<div class="col-lg-8 mx-auto">

									<div class="testimonial-block text-center">
										<blockquote class="mb-5">
											<p>Vũ Trọng Phụng (1912-1939) là một trong những nhà văn nổi tiếng và ảnh hưởng nhất trong văn học Việt Nam thời kỳ đầu của thế kỷ 20. Ông được biết đến với những tác phẩm nổi tiếng và độc đáo về xã hội Việt Nam và những tình huống cuộc sống hàng ngày của người dân.</p>
										</blockquote>

										<div class="author-info">
											<div class="author-pic">
												<img src="images/nhavan1.jpg" alt="Vũ Trọng Phụng" class="img-fluid">
											</div>
											<h3 class="font-weight-bold">Vũ Trọng Phụng</h3>
											<span class="position d-block mb-3">Nhà văn nổi tiếng.</span>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- END item -->

						<div class="item">
							<div class="row justify-content-center">
								<div class="col-lg-8 mx-auto">

									<div class="testimonial-block text-center">
										<blockquote class="mb-5">
											<p>Lưu Quang Vũ (sinh năm 1948) là một nhà văn, nhà thơ và nhà biên kịch nổi tiếng của văn học Việt Nam hiện đại. Ông được biết đến với sự đa dạng trong tác phẩm và những đóng góp lớn cho văn học Việt Nam qua nhiều thể loại văn học.</p>
										</blockquote>

										<div class="author-info">
											<div class="author-pic">
												<img src="images/nhavan2.jpg" alt="Lưu Quang Vũ" class="img-fluid">
											</div>
											<h3 class="font-weight-bold">Lưu Quang Vũ</h3>
											<span class="position d-block mb-3">Nhà văn, nhà thơ và nhà biên kịch nổi tiếng.</span>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- END item -->

						<div class="item">
							<div class="row justify-content-center">
								<div class="col-lg-8 mx-auto">

									<div class="testimonial-block text-center">
										<blockquote class="mb-5">
											<p>Xuân Quỳnh (1942-1988) là một trong những nhà thơ nổi tiếng và tài năng nhất trong lịch sử văn học Việt Nam. Bà là một tượng đài về thơ ca và văn xuôi và đã để lại một dấu ấn sâu đậm trong văn học và văn hóa Việt Nam</p>
										</blockquote>

										<div class="author-info">
											<div class="author-pic">
												<img src="images/nhavan3.jpg" alt="Xuân Quỳnh" class="img-fluid">
											</div>
											<h3 class="font-weight-bold">Xuân Quỳnh</h3>
											<span class="position d-block mb-3">Nhà thơ nổi tiếng .</span>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- END item -->

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Testimonial Slider -->
<!-- Start Blog Section -->
<div class="blog-section">
	<div class="container">
		<div class="row mb-5">
			<div class="col-md-6">
				<h2 class="section-title">Sách sắp được ra mắt</h2>
			</div>
			<div class="col-md-6 text-start text-md-end">
				<a href="#" class="more">Xem Tất Cả</a>
			</div>
		</div>

		<div class="row">

			<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
				<div class="post-entry">
					<a href="#" class="post-thumbnail"><img src="images/booknew1.jpg" alt="Image" class="img-fluid"></a>
					<div class="post-content-entry">
						<h3><a href="#">Sáng Tạo Không Có Đèn Đỏ - Đường Đúng Là Đường Ngược Chiều</a></h3>
						<div class="meta">
							<span>bởi <a href="#">Dirk Von Gehlen</a></span> <span>vào <a href="#">01/11/2023</a></span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
				<div class="post-entry">
					<a href="#" class="post-thumbnail"><img src="images/booknew2.jpg" alt="Image" class="img-fluid"></a>
					<div class="post-content-entry">
						<h3><a href="#">Không Phải Ai Lang Thang Cũng Là Đi Lạc</a></h3>
						<div class="meta">
							<span>bởi <a href="#">Kim Dal</a></span> <span>vào <a href="#">10/11/2023</a></span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
				<div class="post-entry">
					<a href="#" class="post-thumbnail"><img src="images/booknew3.jpg" alt="Image" class="img-fluid"></a>
					<div class="post-content-entry">
						<h3><a href="#">Một Cuốn Sách Tích Cực</a></h3>
						<div class="meta">
							<span>bởi <a href="#">Daiki Shimizu</a></span> <span>vào <a href="#">04/11/2023</a></span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End Blog Section -->	

