* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.under {
    display: flex;
}

.under__left-product {
    flex-basis: 50%;
    background-image: url('img.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 400px;
}

.under__right-product {
    flex-basis: 50%;
    padding-left: 30px;
}

.under .name {
    display: block;
    font-size: 40px;
}

.under__right-product > span {
    display: block;
    margin-top: 15px;
}

.under__right-product span > span {
    display: inline-block;
    max-width: 150px;
    width: 100%;
    font-size: 20px;
}

    .under__right-product span > span:first-child {
        color: #7d7d7d;
    }

    .under__right-product span > span:last-child {
        color: #268fea;
    }

.product_buy {
    text-decoration: none;
    display: inline-block;
    background-color: #efad4d;
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 5px;
    color: #fdf9ee;
    margin-top: 15px;
}

    .product_buy:hover {
        filter: brightness(0.8);
    }

.bottom h2 {
    display: block;
    font-size: 25px;
    color: #2b7db7;
    border-bottom: 2px solid #2780b8;
    padding: 5px 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.description {
    color: #707070;
    font-size: 20px;
}
