@{
	Layout = "Header_Footer";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model Book_Market.Models.Product

  <div class="post-container">
    <form method="post" asp-controller="Info" asp-action="Post" enctype="multipart/form-data" class="post-form">
            <label class="post-container_img" for="post-img">
    
            </label>
    
            <div class="post-container_detail">
                <input asp-for="Id" style="display:none"/>
                <input type="text" placeholder="Tên Sách" asp-for="Name">
                <input type="text" placeholder="Thể Loại" asp-for="Category">
                <input type="text" placeholder="Tác Giả" asp-for="Author">
                <input type="text" placeholder="Số lượng" asp-for="Quantity">
                <input type="text" placeholder="Price" asp-for="Price">
                <textarea asp-for="Description" placeholder="Nội Dung" rows="10"></textarea>
                <input type="submit" class="post-submit" value="Đăng">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="file" id="post-img" name="img" style="display: none;">
            </div>
        </form>
    </div>

    <script>
        let pic= document.querySelector(".post-container_img");
        let input = document.querySelector("#post-img");
        
        input.onchange= ()=>{
            var url = URL.createObjectURL(input.files[0]);
            pic.style.backgroundImage=`url('${url}')`;
        }
    </script>
